<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>738739682278-co73smop4msg58dthov0qjehh5fs2sdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738739682278-co73smop4msg58dthov0qjehh5fs2sdn</string>
	<key>API_KEY</key>
	<string>AIzaSyCw84nNtKeaUpoaM_Ft0fVAQFFb-SOjIxw</string>
	<key>GCM_SENDER_ID</key>
	<string>738739682278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Paul-DeFilippi.lets-get-social</string>
	<key>PROJECT_ID</key>
	<string>lets-get-social-cbddc</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-get-social-cbddc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:738739682278:ios:8619325c2e5faa33</string>
	<key>DATABASE_URL</key>
	<string>https://lets-get-social-cbddc.firebaseio.com</string>
</dict>
</plist>